<app-navbar></app-navbar>
<mat-card>
  <h3 class="mat-subheading-2">Query 1 Million TypeScript files</h3>
  <p class="mat-typography app-description">
    BigTSQuery is a powerful source code search engine for TypeScript, built on top of
    <a href="https://www.npmjs.com/package/@phenomnomnominal/tsquery" target="_blank">TSQuery</a>. It allows you to search using
    <a href="https://github.com/phenomnomnominal/tsquery#selectors" target="_blank">AST Selectors</a>, and performs the search over nearly 1 million source files found on GitHub.
  </p>
  <p class="mat-typography app-description">
    Type your query below or use one of the following presets, and then click the search button:
  </p>
  <p class="mat-typography sample-queries">
    <a *ngFor="let preset of presets" (click)="astQuery=preset.value" href="#">{{preset.name}}</a>
  </p>
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="AST Selector" [(ngModel)]="astQuery">
    </mat-form-field>
    <button mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-card>

<div class="loading-indicator" *ngIf="searching">
  <p class="mat-typography">
    Searching in 1 million TypeScript files... this may take up to 30 seconds
  </p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<app-search-results *ngIf="results" [results]="results"></app-search-results>